@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.light {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #7A9178 ;
  --color-secondary: #3E4C3E;
  --color-neutral: #DDE3D5;
  --color-natural: #F9FAF7;
  --color-white: #ffffff;
  --color-font: #181114;
  --color-secondary-font: #18111480;
  --color-success: #16A34A;
  --font-sans: var(--font-plus-jakarta-sans);
}
@media (prefers-color-scheme: dark) {
  .dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



  